footer
	section.newsletter
		.footer-container
			.row
				.col-md-5
					h3 Subscribe to our newsletter
				.col-md-7
					#mc_embed_signup
						form#mc-embedded-subscribe-form.validate(action='//facebook.us13.list-manage.com/subscribe/post?u=362653b0fc4bd57588f584a16&id=0545edd019', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
							#mc_embed_signup_scroll
								.mc-field-group
									label.hidden(for='mce-EMAIL') Email Address
									input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Your email address')
								#mce-responses.clear
									#mce-error-response.response(style='display:none')
									#mce-success-response.response(style='display:none')
								div(style='position: absolute; left: -5000px;', aria-hidden='true')
									input(type='text', name='b_362653b0fc4bd57588f584a16_0545edd019', tabindex='-1', value='')
								.clear
									input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
	.footer-border-box
		hr.footer-border
	section.footer-info
		.footer-container
			.row
				.footer-contact
					.col-md-3
						a(href='mailto:george@icmhome.org.uk')
							i.fa.fa-envelope.fa-2x(aria-hidden='true')  
							span george@icmhome.org.uk
					.col-md-2
						a(href='tel:02087667164')
							i.fa.fa-phone.fa-2x(aria-hidden='true') 
							span 0208 766 7164
						.footer-times
							i.fa.fa-clock-o.fa-2x(aria-hidden='true')
							span 8.30-5/Mon-Fri
							br
							span Sat by appointment
					.col-md-4
						i.fa.fa-map-marker.fa-2x(aria-hidden='true')
						.footer-address
							span Unit E, Franklin Industrial Estate
							br
							span 42 Croydon Road
							br
							span London, SE20 7AE
				.footer-social
					.col-md-3
						h4 Follow us on Social media!
						a(href='https://www.facebook.com/ICleenzMacheenz/')
							span.fa-stack.fa-2x(aria-label='Facebook')
								i.fa.fa-circle-thin.fa-stack-2x(aria-hidden='true')
								i.fa.fa-facebook.fa-stack-1x(aria-hidden='true')
						a(href='https://www.instagram.com/icleenz/')
							span.fa-stack.fa-2x(aria-label='Instagram')
								i.fa.fa-circle-thin.fa-stack-2x(aria-hidden='true')
								i.fa.fa-instagram.fa-stack-1x(aria-hidden='true')
						a(href='https://plus.google.com/117734087599608128697/about')
							span.fa-stack.fa-2x(aria-label='Google Plus')
								i.fa.fa-circle-thin.fa-stack-2x(aria-hidden='true')
								i.fa.fa-google-plus.fa-stack-1x(aria-hidden='true')
			.footer-border-box
				hr.footer-border
			section.copyright
				.footer-container
					.col-sm-6
						p &copy; I Cleenz Macheenz all rights reserved
					.col-sm-6.footerPrivacy
						a(href='privacypolicy.html') Cookie and Privacy Policy
