include includes/head.pug
include includes/navbar.pug
</header>

  h1 My Site
  p Welcome to my super lame site.
  img.img-responsive(src='http://placehold.it/400x400')
  include includes/foot.pug
  include includes/scripts.pug
  
</body>