.row
  .HeaderGroup
    .col-xs-3.visible-xs.MobMenuButton
      a.navbar-toggle(data-toggle='collapse', data-target='#topNavbar', href='#')
        i.fa.fa-bars.fa-3x(aria-hidden='true')
    .col-xs-5.col-md-7.HeaderLogo
      a#headerLogoLink(title='Home page', href='index.html')
        img#headerLogo.img-responsive.hidden-xs(src="http://placehold.it/450x100", alt='Company Logo Here', style='border-width:0px;')
        img#headerLogo.img-responsive.visible-xs(src="http://placehold.it/250x100", alt='Company Logo Here', style='border-width:0px;')
    .col-sm-1.visible-sm
    .HeaderContact
      .col-md-3.col-sm-3.col-xs-2.HeaderEmail
        a(href='mailto:#')
          i.fa.fa-envelope.fa-2x(aria-hidden='true')
          |  
          span.ContactText.hidden-xs test@email.com
      .col-md-2.col-sm-3.col-xs-2.HeaderPhone
        a(href='tel:#')
          i.fa.fa-phone.fa-2x(aria-hidden='true')
          |  
          span.ContactText.hidden-xs 0123 456 7891
nav.navbar.navbar-default.navbar-fixed-top
  #topNavbar.navbar-collapse.collapse.infoNavbar
    .container
      ul.nav.navbar-nav
        li: a(href='index.html') Home
        li: a(href='aboutus.html') About Us
        li: a(href='gallery.html') Gallery
        li: a(href='contact.html') Contact Us
        |
        li.visible-xs
          a(href='service.html') Service One
        li.visible-xs
          a(href='service.html') Service Two
        li.visible-xs
          a(href='service.html') Service Three
        li.visible-xs
          a(href='service.html') Service Four
        li.visible-xs
          a(href='additionalservice.html') Additional Services
        |
  .navbar-collapse.collapse.servicesNavbar
    .container
      ul.nav.navbar-nav
        li.first
          a(href='service.html') Service One
        li
          a(href='service.html') Service Two
        li
          a(href='service.html') Service Three
        li
          a(href='service.html') Service Four
        li
          a(href='additionalservice.html') Additional Services
          