include includes/head.pug
include includes/navbar.pug
</header>
    <section class="aboutUs">
        <img class="aboutImage" src="images/about/workshop.jpg" alt="I Cleenz Macheenz Workshop">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">About Us
                    </h1>
                    <p>I Cleenz Macheenz is a small family run specialist machine cleaning business based in South London. Our customers include everyone from Hobbyist to trade and industry. We make use of both dry and wet blasting machinery, as well as ultrasonic and chemical cleaning facility, this, combined with mechanical knowledge and the care and attention utilised on every job.<br><br>
                    We pride ourselves on our friendly customer service and the great results we achieve. We are always available to discuss any job in depth and suggest the best way to achieve an outstanding result. Even the tough jobs we do gently!</p>
                </div>
            </div>
            <hr>
            <div class="row hidden">
                <div class="col-lg-12 hidden">
                    <h2 class="page-header">Our Team</h2>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="img-circle img-responsive img-center hidden" src="http://placehold.it/200x200" alt="">
                    <h3>George Smith
                    </h3>
                    <p>George is our resident cleaning process expert. George teaches young teenagers to repair, service and ride bicycles and motorbikes at the Young Lewisham Project.</p>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="img-circle img-responsive img-center hidden" src="http://placehold.it/200x200" alt="">
                    <h3>Chris Smith
                    </h3>
                    <p>Chris has been learning to drive a desk, a computer and delivery van at ICM since January 2012. He runs and restores a string of Russian Cold War vehicles for himself and customers.</p>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="img-circle img-responsive img-center hidden" src="http://placehold.it/200x200" alt="">
                    <h3>Kayne
                    </h3>
                    <p></p>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <img class="img-circle img-responsive img-center hidden" src="http://placehold.it/200x200" alt="">
                    <h3>Chris Allan
                    </h3>
                    <p></p>
                </div>
            </div>
        </div>
    </section>       
    
    include includes/foot.pug
    include includes/scripts.pug
  
</body>