include includes/head.pug
include includes/navbar.pug
</header>

	<div class="service-page">

		<div class="container">
			<div class="col-sm-8 mainText">
				<h1 class="page-header">Affiliate Services</h1>
				<p>“I Cleenz Macheenz!” reputation for machine cleaning is of the highest order, but in order to enable a "One stop shop" solution we have established a network of trusted affiliates who match our high standards. We ensure work is carried out to specification and in a logical order based on experience.<br><br>Typical jobs include: making 1-off parts, cracked casting welding and machining; broken fin repairs which blend-in superbly; broken stud removal (even with sheared easy-outs jammed-in); thread repairs of any diameter and pitch; cylinder head overhaul (including precision valve-guide manufacture, installation, valve seat trimming, face skimming); sheet metal repairs to tanks, rusted panels or even refabrication; radiator testing and repairs including resizing and uprating, even manufacture of 1-off specials.</p><br>

				<ul class="affiliateList">
					<li>We offer Engineering Repairs &amp; Cylinder-Head Renovation Services SRS Engineering</li> 
					<li>We offer Welding, Sheet Metal Repairs, via Barons Speed Shop</li> 
					<li>We offer Powder Coating via Primus Quality Coatings</li> 
					<li>Chrome plating is provided by Douglas Metal Finishing</li>
					<li>Gold, Zinc and other types of Plating are provided via Fox Plating</li> 
					<li>We offer Tank and Radiator Repairs via our associates Express Radiators</li> 
				</ul>

				<aside class="affiliateLogos">
					<div class="col-xs-4">
						<a href="https://www.yell.com/biz/srs-engineering-sutton-ltd-sutton-7276675/">
							<img src="images/home/logos/srslogo.png" class="img-responsive img-centered" alt="SRS Engineering">
						</a>
					</div>
					<div class="col-xs-4">
						<a href="http://www.douglas-plating.co.uk/index.html">
							<img src="images/home/logos/douglaslogo.png" class="img-responsive img-centered" alt="Douglas Metal Finishing">
						</a>
					</div>
					<div class="col-xs-4">
						<a href="http://www.baronspeedshop.co.uk/">
							<img src="images/home/logos/baronslogo.png" class="img-responsive img-centered" alt="Barons Speed Shop">
						</a>
					</div>
				</aside>

			</div>
			<div class="col-sm-4 mainText">
				<h1 class="page-header">Aftercare 
					<small> Aftercare for your restored components with ACF-50</small>
				</h1>
				<p>
					All components will begin to age normally again after processing but can be kept ‘fresh’ with normal aftercare and maintenance. Remember that when parts leave “I Cleenz Macheenz!” they are normally almost clinically clean and devoid of any protective oil or grease, so they are vulnerable to damp and particularly sea or road salt.<br><br>

					The best protection for putting revived parts into service is ACF-50 anti corrosion thin film protective spray. Alloys are vulnerable (unless lacquered or anodized), and sometimes we are asked to just clean corrosion off plated items without replating. This means that the portions that rusted before will rust again unless protected. Even these can be kept fresh with ACF-50, and will ease the washing-off of road dirt.<br><br>
					ACF-50 can be purchased at I Cleenz Macheenz for £10 per can.
				</p>
			</div>

			<section class="items-cleaned">
				<div class="col-xs-12">
					<div class="row">

					</div>
				</div>
			</section>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>