include includes/head.pug
include includes/navbar.pug
</header>
	<div class="container">
		<div class="row">
			<h1 class="page-header">Motorbike and Bicycle Gallery <small>Page 1</small></h1>

			<div class="row text-center">
				<ul class="pagination">
					<li class="active"><a href="bikegallery.html">1</a></li>
					<li><a href="bikegallery2.html">2</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/bigbarrel2before.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/bigbarrel2during.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/bigbarrel2finish.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 4" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2989.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 5" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/012.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 6" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/022.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 8" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2562.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 9" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2650.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 10" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2584.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 11" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2664.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 12" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2571.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 13" href="#"><img class="thumbnail img-responsive" src="images/gallery/bike/IMG_2648.jpg"></a></div>

			<hr>

			<div class="row text-center">
				<ul class="pagination">
					<li class="active"><a href="bikegallery.html">1</a></li>
					<li><a href="bikegallery2.html">2</a></li>
				</ul>
			</div>

			<hr>
		</div>
	</div>
	<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3 class="modal-title">Heading</h3>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>