include includes/head.pug
include includes/navbar.pug
</header>
	<div class="container">
		<div class="row">
			<h1 class="page-header">Car parts Gallery</h1>

			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/001before.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/001after.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/3before.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 4" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/3finish.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 5" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/IMG_2728.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 6" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/IMG_2735.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 8" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/1before.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 9" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/1finish.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 10" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/4before.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 11" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/4finish.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 12" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/IMG_2320.jpg"></a></div>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 13" href="#"><img class="thumbnail img-responsive" src="images/gallery/cars/IMG_2437.jpg"></a></div>

			<hr>

			<hr>
		</div>
	</div>
	<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3 class="modal-title">Heading</h3>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>