include includes/head.pug
include includes/navbar.pug
</header>

	<div class="container">

		<div class="service-page wash">
			<div class="row">
				<div class="col-sm-8">

					<div class="col-sm-12" id="slider">
						<div class="carousel slide" id="myCarousel">
							<div class="carousel-inner">
								<div class="active item" data-slide-number="0">
									<img src="images/services/cleaning/sumplarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Oily Sump</h3>
												<a class="captionExpand" href="images/services/cleaning/sumplarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Removal and safe disposal of loose oil, solvent soak plus pressure wash, rinse and repeat. Years of old oil beautifully preserved interior alloy.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £50</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="1">
									<img src="images/services/cleaning/bluelarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Lambretta Scooter Hubs</h3>
												<a class="captionExpand" href="images/services/cleaning/bluelarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Chemical strip of awful and thick paint job, glass grit blast to prepare for a proper paint job.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: 3 pieces total £70</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="2">
									<img src="images/services/cleaning/swingarmlarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Ducati racing swing arm</h3>
												<a class="captionExpand" href="images/services/cleaning/swingarmlarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Mask, grit blast, Vapour bead blast.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £40</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="3">
									<img src="images/services/cleaning/firetrucklarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Vintage firetruck engine cylinder head</h3>
												<a class="captionExpand" href="images/services/cleaning/firetrucklarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Chemical soak &#43; steam clean to remove paint, gunk and carbon deposits.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £35 per head</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<aside id="slider-thumbs">
						<ul class="hide-bullets">
							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-0"><img src="images/services/cleaning/sumpthumb.JPG" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-1"><img src="images/services/cleaning/bluethumb.JPG" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-2"><img src="images/services/cleaning/swingarmthumb.JPG" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-3"><img src="images/services/cleaning/firetruckthumb.JPG" alt=""></a>
							</li>
						</ul>                 
					</aside>                      
					<section class="mainText">
						<h3>Pressure Wash</h3>
						<p>
							Often customers want to clean parts like whole engine cases and sumps to make them "Handling clean", removing contaminants like loose dirt, grease, oil and more but don't want to change the look or texture of the item like shot and vapour blasting do (Although almost all items that come to us for blasting will go through these cleaning processes before blasting).
						</p>
					</section>
				</div>

				<div class="col-sm-4 processBorder">
					<section class="process">
						<h4>The Pressure Wash Process</h4>

						<h5>1. Pre Pressure-Wash</h5>
						<p>The first stage will normally be to pressure wash the part to remove any surface contaminants, this will give the item a pre-clean so that when it is placed in the chemical vat, the loose grease, oil and dirt does not contaminate the chemical solution excessively.</p>

						<h5>2. Chemical Soak</h5>
						<p>Next we soak the part in an aggressive solvent to weaken the tougher stains and make further cleaning more effective, the chemical helps weaken paint, grease, oil, and many other stains on the metal. <b>Rubber will be prone to damage after prolonged chemical exposure, so should be removed prior to cleaning.</b></p> 

						<h5>3. Full Pressure-Wash with truck cleaner</h5>

						<p>After your part has been soaked in the chemical solution, any remaining surface contaminants will be much easier to clean away. The item is blasted once again with a high power pressure-washer to remove the dirt and any chemical solution left on/in the part, if any stains or dirt remain, an advanced traffic film remover will be applied and left before being washed again. Once clean we can offer chemical brighteners for nonferrous metals subject to individual items constraints.</p>

						<h4>Chemical Paint Stripping</h4>

						<p>
							For those people that don't want their part to be shot blasted, but want paint removed, we offer Chemical Paint Stripping. This process involves washing your part first, then applying an aggressive solvent to painted areas. The solvent is then re-applied a number of times over the course of many hours until all the paint has peeled off. Finally the item is pressure washed and cleaned of all paint stripper.
						</p>
					</section>
				</div>        
			</div>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>