include includes/head.pug
include includes/navbar.pug
</header>
	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="page-header">Getting a quote <small>Call or E-mail to discuss any questions or to request a quote!</small></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<h2>Location and directions</h2>
					<p>We are located on a main road (Croydon rd) in Penge, South London, next to the Jet Petrol Station. Limited customer parking is available through the iron gates on Franklin Rd, or unrestricted street parking on the same street.</p>
					<div class="map-responsive">
						<div class="overlay" onClick="style.pointerEvents='none'"></div>

						<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAHSzXIcqwtqquAXQLezbbFYSKlyuUvLPU&q=I+Cleenz+Macheenz,London+England" width="600" height="450" scrollwheel="false" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-sm-4 contactInfo">
					<h3 class="page-header">Contact Us</h3>
					<h4>Email:</h4>
					<a href="mailto:george@icmhome.org.uk">
						<p>george@icmhome.org.uk</p>
					</a><br>

					<h4>Phone:</h4>
					<p>0208 766 7164</p><br>
					<h4>Address:</h4>
					<p>Unit E, Franklin Industrial Estate</p>
					<p>42 Croydon Road</p>
					<p>London, SE20 7AE</p>
				</div>
			</div>
		</div>
	</div>       

	include includes/foot.pug
	include includes/scripts.pug	

</body>