include includes/head.pug
include includes/navbar.pug
</header>
	<div class="gallery">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Gallery
						<small>Choose a category to see more examples of our work</small>
					</h1>
				</div>
			</div>

			<div class="col-xs-6 col-xxs portfolio-item">
				<div class="portfolio-wrapper">
					<a href="bikegallery.html">
						<img class="img-responsive" src="images/gallery/bikeparts.jpg" alt="Bike and Bicycle part cleaning gallery">
					</a>
					<span class="portfolio-strip"><span class="portfolio-title-txt"><h2>Motorcycles &amp; Bicycles</h2></span></span>
					<a href="bikegallery.html" class="btn btn-primary">See More!</a>
				</div>
			</div>
			<div class="col-xs-6 col-xxs portfolio-item">
				<div class="portfolio-wrapper">
					<a href="cargallery.html">
						<img class="img-responsive" src="images/gallery/carparts.JPG" alt="Car part cleaning gallery">
					</a>
					<span class="portfolio-strip"><span class="portfolio-title-txt"><h2>Cars</h2></span></span>
					<a href="cargallery.html" class="btn btn-primary">See More!</a>
				</div>
			</div>
			<div class="col-xs-6 col-xxs portfolio-item">
				<div class="portfolio-wrapper">
					<a href="miscgallery.html">
						<img class="img-responsive" src="images/gallery/miscparts.jpg" alt="Antique, heritage and industrial part cleaning gallery">
					</a>
					<span class="portfolio-strip"><span class="portfolio-title-txt"><h2>Antique, Heritage &amp; Industrial</h2></span></span>
					<a href="miscgallery.html" class="btn btn-primary">See More!</a>
				</div>
			</div>
			<div class="col-xs-6 col-xxs portfolio-item">
				<div class="portfolio-wrapper">
					<a href="furnituregallery.html">
						<img class="img-responsive" src="images/gallery/furniture.JPG" alt="Architectural, interior and garden furniture cleaning gallery">
					</a>
					<span class="portfolio-strip"><span class="portfolio-title-txt"><h2>Architectural, Interior &amp; Garden Furniture</h2></span></span>
					<a href="furnituregallery.html" class="btn btn-primary">See More!</a>
				</div>
			</div>
			<div class="row">
				<hr>
			</div>
		</div>
	</div>       

	include includes/foot.pug
	include includes/scripts.pug

</body>