include includes/headHome.pug
include includes/navbar.pug
</header>

	<div class="container">
		<div class="homeBannerWrapper">
			<div class="homeBanner hidden-xs">
				<div class="col-sm-4 bannerImage">
					<img src="images/home/PhantomCaseAfterTransparent.png" class="img-responsive" alt="Rolls Royce Phantom Case">
				</div>
				<div class="col-sm-8 bannerText">
					<h1>Specialist Machine Cleaning</h1>
					<ul>
						<li><h2>Dry Blasting - </h2><h3>Bead, Grit &amp; Shot for tougher jobs</h3></li>
						<li><h2>Vapour Blasting - </h2><h3>For gentle refurbishment</h3></li>
						<li><h2>Ultrasonic Washing - </h2><h3>Carburettor Cleaning inside and out</h3></li>
						<li><h2>Affiliate Services - </h2><h3>Powder Coating, Plating, Acid Etch Priming &amp;Repair Services</h3></li>
						<!--<a class="btn btn-warning btn-lg btn-block hidden-xs" href="contact.html" role="button">Get a Quote</a> -->
					</ul>
					<!--<div class="visible-xs homeHeaderButton">
					<a class="btn btn-warning btn-lg btn-block" href="contact.html" role="button">Get a Quote</a>
					</div> -->
				</div>
			</div>
			<div class="visible-xs">
				<img class="img-responsive" src="images/home/HomeBannerMobile.png">
			</div>
		</div>

		<section class="items-cleaned">
			<div class="col-xs-12">
				<div class="row">
					<ul class="products">  
						<li class="product-item">  
							<div class="product-content">
								<div class="thumbnailWrapper">
									<img src="images/home/carmotorparts.jpg" alt="Car and Motorbike Part cleaning"/>
									<span class="product-strip"><span class="product-title-txt"><h2>Car &amp; Motorcycle Parts</h2></span></span>
								</div> 
								<p>Our specialty! 
									We clean automotive parts old and new. After cleaning we also offer Vapour Blasting, Powder Coating, Plating, Wet Painting, Acid Etch Priming and Repair Services &#40;all of which can be done or arranged by us&#41;.

									We prepare both vintage and new parts for <br><br> We make sure to protect any areas of your part that should not have it's dimensions or texture altered i.e bearing and gasket faces, oilways and threads.</p>  
								<a href="gallery.html" class="btn btn-primary">See More!</a>
							</div>  
						</li>
						<li class="product-item">  
							<div class="product-content">
								<div class="thumbnailWrapper">
									<img src="images/home/carburettors.jpg" alt="Ultrasonic Carburettor Cleaning"/>
									<span class="product-strip"><span class="product-title-txt"><h2>Carburettors</h2></span></span>
								</div>
								<p>We combine Ultrasonic Washing with Chemical Cleaning to clear the inside of your Car, Motorcycle or Marine Carbs &amp; Jets of any blockages.<br><br> At your request we can also perform gentle bead blasting and/or vapour blasting to improve the look of your Carbs.</p>  
								<a href="gallery.html" class="btn btn-primary">See More!</a>
							</div>  
						</li> 
						<li class="product-item">  
							<div class="product-content">
								<div class="thumbnailWrapper">
									<img src="images/home/furniture.jpg" alt="Indoor and Outdoor Furniture Blasting and Paint Removal"/>
									<span class="product-strip"><span class="product-title-txt"><h2>Furniture</h2></span></span>
								</div>
								<p>We can refurbish most types of furniture and wooden items, using a gentler bead to clean small wooden pieces and give them an even finish.<br><br> We can also utilise our custom made blast room  &#40;approx: 2.4 x 1.7 x 2.3meters &#41; for tougher jobs like paint and rust removal from iron or steel pieces.</p>  
								<a href="gallery.html" class="btn btn-primary">See More!</a>
							</div>  
						</li> 
						<li class="product-item">  
							<div class="product-content">
								<div class="thumbnailWrapper">
									<img src="images/home/otherservices.jpg" alt="Miscellaneous Parts and Antiques Shot and Vapour Blasted" />
									<span class="product-strip"><span class="product-title-txt"><h2>Antiques &amp; More!</h2></span></span>
								</div>
								<p>Almost any item can be cleaned by us, and will be done to your instructions, avoiding or focusing on any areas you specify. A certain level of patina can be retained subject to individual constraints of each job.<br><br>We clean almost any metal, wood, plastic or glass, so feel free to give us a ring or send us an e-mail to get a free quote from us!</p>  
								<a href="gallery.html" class="btn btn-primary">See More!</a>
							</div>  
						</li>  
					</ul>
				</div>
			</div>
		</section>
	</div>

	<aside class="clients">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<a href="https://www.yell.com/biz/srs-engineering-sutton-ltd-sutton-7276675/">
						<img src="images/home/logos/srslogo.png" class="img-responsive img-centered" alt="SRS Engineering">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="http://www.historicvehiclerestoration.com/">
						<img src="images/home/logos/historicvehicles.png" class="img-responsive img-centered" alt="Historic Vehicle Restoration">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="http://www.doble.co.uk/">
						<img src="images/home/logos/dobles.png" class="img-responsive img-centered" alt="Dobles Motorcycles">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="https://www.alicemadethis.com/">
						<img src="images/home/logos/alicemadethislogo.png" class="img-responsive img-centered" alt="Alice Made This">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="http://www.baronspeedshop.co.uk/">
						<img src="images/home/logos/baronslogo.png" class="img-responsive img-centered" alt="Barons Speed Shop">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="http://pa-wood.co.uk/">
						<img src="images/home/logos/pawoodnewlogo.png" class="img-responsive img-centered" alt="P&amp;A Wood">
					</a>
				</div>
			</div>
		</div>
	</aside>

	include includes/foot.pug
	include includes/scripts.pug
  
</body>