include includes/head.pug
include includes/navbar.pug
</header>

	<div class="container">

		<div class="service-page wash">
			<div class="row">
				<div class="col-sm-8">

					<div class="col-sm-12" id="slider">
						<div class="carousel slide" id="myCarousel">
							<div class="carousel-inner">
								<div class="active item" data-slide-number="0">
									<img src="images/services/shotblasting/axlelarge.JPG">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Willis Jeep Axle</h3>
												<a class="captionExpand" href="images/services/shotblasting/axlelarge.JPG"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Degrease, plug &amp; mask then grit blast in our custom built blast room.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £80</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="1">
									<img src="images/services/shotblasting/barrellarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>500cc Japanese 2 stroke barrel</h3>
												<a class="captionExpand" href="images/services/shotblasting/barrellarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Degrease, plug &amp; mask then dry blast in our cabinet.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £35 for paint prep, £50 for Shot and Vapour blast</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="2">
									<img src="images/services/shotblasting/dresserlarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Wooden Dresser</h3>
												<a class="captionExpand" href="images/services/shotblasting/dresserlarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Blast off and Varnish.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £65</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="3">
									<img src="images/services/shotblasting/fireplacelarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Simple medium size fireplace</h3>
												<a class="captionExpand" href="images/services/shotblasting/fireplacelarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Blast off paint and rust.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £70 for just fireplace £110 for place, grate and mantel</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<aside id="slider-thumbs">
						<ul class="hide-bullets">
							<li class="col-sm-3 col-xs-6">
								<a class="thumbnail" id="carousel-selector-0"><img src="images/services/shotblasting/axlethumb.JPG" alt=""></a>
							</li>

							<li class="col-sm-3 col-xs-6">
								<a class="thumbnail" id="carousel-selector-1"><img src="images/services/shotblasting/barrelthumb.JPG" alt=""></a>
							</li>

							<li class="col-sm-3 col-xs-6">
								<a class="thumbnail" id="carousel-selector-2"><img src="images/services/shotblasting/dresserthumb.JPG" alt=""></a>
							</li>

							<li class="col-sm-3 col-xs-6">
								<a class="thumbnail" id="carousel-selector-3"><img src="images/services/shotblasting/fireplacethumb.JPG" alt=""></a>
							</li>
						</ul>                 
					</aside>                      
					<section class="mainText">
						<h3>Shot Blasting</h3>
						<p>
							Shot Blasting uses compressed air to blast certain types of media or shot at an item to remove any paint, corrosion, scale or other surface contaminants and leave an even finish. It is common for shot blasting to be followed by another process like <a href="vapourblast.html">Vapour Blasting</a>, Paint Priming, <a href="additionalservices.html">Powder Coating, Plating and other types of surface treatment</a> all of which can be done by us either in house, or by trusted affiliates.<br><br> At I Cleenz Macheenz we have two blasting cabinets and a blast room, with these three methods we can clean both small and larger items  &#40;our large blast room is approximately 2.4 x 1.7 x 2.3meters &#41; and tailor how gentle or aggressive the blasting is by changing the type of media or "shot" used.

							<br><br><b>Shot, Bead, and Dry Blasting are the same processes as what people commonly refer to as Sand Blasting, however blasting using sand is banned in many countries including the UK and therefore not performed by I Cleenz Macheenz. The wide range of media used by us instead allow for a more bespoke, safe and environmentally friendly service.</b>
						</p>
					</section>
				</div>

				<div class="col-sm-4 processBorder">
					<section class="process">
						<h4>The Shot Blast Process:</h4>

						<h5>1. Pre Pressure-Wash</h5>
						<p>If there’s loose dirt, grease or other adherents on your part we will pressure wash it first to ensure it is clean before blasting. We will also dismantle components if required although we recommend that this is done by the customer. If the components have oilways or other passages, once chemically clean we will blow through them with compressed air,  there is the option for <a href="ultrasonic.html"> Ultrasonic Cleaning</a> to clean interior of passages.</p>

						<h5>2. Item Preparation</h5>
						<p>
							Areas of your part that you either do not want blasted, or should not be blasted as altering the dimensions or texture of an area could harm performance, will be masked and plugged accordingly. 
						</p> 

						<h5>3. Dry blast &#40;Optional&#41;</h5>

						<p>Depending on the size of what is being blasted, and how delicate it is, we will decide whether to use one of our blast cabinets, or our blast room and what blasting media to use.
						</p>

						<h5>4. Post Pressure-wash and dry</h5>

						<p>Once again the part will be pressure washed to clean it of all the bead from the blasting, as left over this could affect the performance/reliability of certain machine parts. After a thorough rinse off the part will be pressure washed. After both washes, the part is dried using compressed air, this has the benefit of also further clearing any potential debris from the part, If left behind media could ruin parts. We take this very seriously unlike some of our competition, we have had a number of occasions where we have be asked to decontaminate a piece “cleaned” by other companies.</p>
					</section>
				</div>        
			</div>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>