include includes/head.pug
include includes/navbar.pug
</header>

	<div class="container">

		<div class="service-page wash">
			<div class="row">
				<div class="col-sm-8">

					<div class="col-sm-12" id="slider">
						<div class="carousel slide" id="myCarousel">
							<div class="carousel-inner">
								<div class="active item" data-slide-number="0">
									<img src="images/services/ultrasonic/vapourcarblarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Carburettor &#43; Jets Cleaning with optional Bead Blasting</h3>
												<a class="captionExpand" href="images/services/ultrasonic/vapourcarblarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>We offer ultrasonic cleaning of carburettors and accompanying parts and jets, as well as cosmetic treatments including bead blasting and top cap polishing.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £30 per carb &#40;inc jets and other parts&#41;. £15-£25 for cosmetic bead blasting and top cap polishing</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="1">
									<img src="images/services/ultrasonic/carbjetslarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Carburettor &#43; Jets Cleaning with optional Bead Blasting</h3>
												<a class="captionExpand" href="images/services/ultrasonic/carbjetslarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>We offer ultrasonic cleaning of carburettors and accompanying parts and jets, as well as cosmetic treatments including bead blasting and top cap polishing.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £30 per carb &#40;inc jets and other parts&#41;. £15-£25 for cosmetic bead blasting and top cap polishing</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="2">
									<img src="images/services/ultrasonic/fourcarbslarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Carburettor &#43; Jets Cleaning with optional Bead Blasting</h3>
												<a class="captionExpand" href="images/services/ultrasonic/fourcarbslarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>We offer ultrasonic cleaning of carburettors and accompanying parts and jets, as well as cosmetic treatments including bead blasting and top cap polishing.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £30 per carb &#40;inc jets and other parts&#41;. £15-£25 for cosmetic bead blasting and top cap polishing</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="3">
									<img src="images/services/ultrasonic/shotblastedcarblarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Carburettor &#43; Jets Cleaning with optional Bead Blasting</h3>
												<a class="captionExpand" href="images/services/ultrasonic/shotblastedcarblarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>We offer ultrasonic cleaning of carburettors and accompanying parts and jets, as well as cosmetic treatments including bead blasting and top cap polishing.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £30 per carb &#40;inc jets and other parts&#41;. £15-£25 for cosmetic bead blasting and top cap polishing</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<aside id="slider-thumbs">
						<ul class="hide-bullets">
							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-0"><img src="images/services/ultrasonic/vapourcarbthumb.JPG" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-1"><img src="images/services/ultrasonic/carbjetsthumb.jpg" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-2"><img src="images/services/ultrasonic/fourcarbsthumb.JPG" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-3"><img src="images/services/ultrasonic/shotblastcarbthumb.JPG" alt=""></a>
							</li>
						</ul>                 
					</aside>                      
					<section class="mainText">
						<h3>Ultrasonic Cleaning</h3>
						<p>
							Many of our customers bring carburettors in to cure problematic running caused be blockages in the jets or passages. To fix this we offer carburettor cleaning using Ultrasonic soundwaves in our 80 litre tank. It is much more affective at clearing gum and blockages than bench-top units, more suited for cleaning false teeth! <br><br>Ultrasonic Cleaning will not improve the appearance of your carburettor, but we can arrange delicate Glass Bead Blasting and Vapour Blasting if required. Carbs need to be sent fully stripped of all components (with the exception of any butterfly valves if these are difficult to remove).
						</p>
					</section>
				</div>

				<div class="col-sm-4 processBorder">
					<section class="process">
						<h4>The Ultrasonic Cleaning Process:</h4>

						<h5>1. Item Preparation</h5>
						<p>All Carburettors that are sent to us for cleaning, as well as other separate parts like jets are checked, counted and photographed to ensure all small parts are accounted for throughout the cleaning process. This also allows us to check for any parts that should be removed before cleaning.</p>

						<h5>2. Chemical Soak</h5>
						<p>The next stage is to soak your Carburettors in our chemical solvent to weaken any substances like gum or scale. The soak has the added benefit of letting the solvent run through all the innermost recesses of your part to make the Ultrasonic cleaning more effective.</p>

						<h5>3. Ultrasonic Wash</h5>
						<p>After the parts have been washed and cleared of any residue chemical, the carburettor is then placed in our 80 litre tank. Depending on size we only clean one or two Carburettors at one time to maximise efficiency, separate smaller parts like jets will be washed in special netting to allow effective cleaning, but to remove the risk of losing any smaller parts.</p> 

						<h5>4. Dry blast &amp; Vapour Blasting &#40;Optional&#41;</h5>

						<p>If required we offer Gentle Glass Bead Blasting as well as Vapour Blasting to change the appearance of your carburettor, care is taken to wash and dry your carbs after blasting to ensure all passages are clear of bead and water.</p>

						<h5>5. Wash and dry</h5>

						<p>Your Carbs will now be thoroughly washed off with water, making sure to target all airways and passages. After a thorough rinse off the carb will be pressure washed. After both washes, the part is dried using compressed air, this has the benefit of also further clearing any potential debris from the carb, if left behind media could ruin parts. We take this very seriously unlike some of our competition, we have had a number of occasions where we have be asked to decontaminate a piece “cleaned” by other companies.</p>
					</section>
				</div>        
			</div>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>