include includes/head.pug
include includes/navbar.pug
</header>

	<div class="container">

		<div class="service-page wash">
			<div class="row">
				<div class="col-sm-8">

					<div class="col-sm-12" id="slider">
						<div class="carousel slide" id="myCarousel">
							<div class="carousel-inner">
								<div class="active item" data-slide-number="0">
									<img src="images/services/vapour/fullblocklarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Kawasaki 2 1000 4 stroke motorcycle engine</h3>
												<a class="captionExpand" href="images/services/vapour/fullblocklarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Degrease, plug &amp; mask then grit blast then vapour.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £400</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="1">
									<img src="images/services/vapour/vtwinlarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Moto Guzzi most main engine castings</h3>
												<a class="captionExpand" href="images/services/vapour/vtwinlarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Degrease, plug &amp; mask then grit blast then vapour.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £325</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="2">
									<img src="images/services/vapour/yamahalarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>Yamaha motorbike side case</h3>
												<a class="captionExpand" href="images/services/vapour/yamahalarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Degrease, plug &amp; mask then grit blast then vapour.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £25</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>

								<div class="item" data-slide-number="3">
									<img src="images/services/vapour/vapourbarrellarge.jpg">
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									</a>
									<div class="productCaption">
										<div class="row">
											<div class="col-xs-12">
												<h3>500cc Japanese 2 stroke barrel</h3>
												<a class="captionExpand" href="images/services/vapour/vapourbarrellarge.jpg"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></a>
												<p>Degrease, plug &amp; mask then grit blast then vapour.</p>
											</div>
										</div>
										<div class="row">  
											<div class="col-sm-8 captionCost">
												<h4>Estimated cost: £50</h4>
											</div>
											<div class="col-sm-4 captionQuote">
												<a href="contact.html"><h4>Get a Quote!</h4></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<aside id="slider-thumbs">
						<ul class="hide-bullets">
							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-0"><img src="images/services/vapour/fullblockthumb.JPG" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-1"><img src="images/services/vapour/vtwinthumb.jpg" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-2"><img src="images/services/vapour/yamahathumb.jpg" alt=""></a>
							</li>

							<li class="col-xs-3">
								<a class="thumbnail" id="carousel-selector-3"><img src="images/services/vapour/vapourbarrelthumb.JPG" alt=""></a>
							</li>
						</ul>                 
					</aside>                      
					<section class="mainText">
						<h3>Vapour Blasting</h3>
						<p>Vapour blasting uses particles (smooth glass beads) in a powerful jet of hot water with additives, this can be accelerated with compressed air if necessary. This process is usually used on auto or machine parts and alloy castings to render them clean and ready for inspection prior to refitting.<br><br> Vapour blasting will leave a slightly burnished finish on iron, steel or high tensile alloy castings; softer alloys will have a more satin appearance. Not usually used for small components like nuts and bolts – see <a href="ultrasonic.html">Ultrasonic Cleaning</a></p>
					</section>
				</div>

				<div class="col-sm-4 processBorder">
					<section class="process">
						<h4>The Vapour Blast Process:</h4>

						<h5>1. Pre Pressure-Wash</h5>
						<p>If there’s loose dirt, grease or other adherents on your part we will pressure wash it first to ensure it is clean before blasting. We will also dismantle components if required although we recommend that this is done by the customer. If the components have oilways or other passages, once chemically clean we will blow through them with compressed air,  there is the option for <a href="ultrasonic.html"> Ultrasonic Cleaning</a> to clean interior of passages.</p>

						<h5>2. Item Preparation</h5>
						<p>
							Areas of your part that you either do not want blasted, or should not be blasted as altering the dimensions or texture of an area could harm performance, will be masked and plugged accordingly.
						</p> 
						<h5>3. Dry blast &#40;Optional&#41;</h5>

						<p>Often before Vapour blasting, parts need <a href="shotblast.html"> Dry Blasting </a> first to remove all corrosion, marking and to ensure an even finish/texture.</p>

						<h5>4. Wet Bead Blast</h5>

						To reveal clean base metal leaving burnished or satin finish. Polishing available if required. Subject to test, paint can be stripped or retained (if hard and firmly adhering). Plating will not normally strip.

						<h5>5. Post Pressure-wash and dry</h5>

						<p>Once again the part will be pressure washed to clean it of all the bead from the blasting, as left over this could affect the performance/reliability of certain machine parts. After a thorough rinse off the part will be pressure washed. After both washes, the part is dried using compressed air, this has the benefit of also further clearing any potential debris from the part. If left behind media could ruin parts. We take this very seriously unlike some of our competition, we have had a number of occasions where we have be asked to decontaminate a piece “cleaned” by other companies.</p>
					</section>
				</div>        
			</div>
		</div>
	</div>

	include includes/foot.pug
	include includes/scripts.pug

</body>